*.DS_Store
*.RHistory

subsetting/files/gnomad_v3.1_subset-metadata.tsv
Analysis/QC/files/20240408_subset_sample_qc1.tsv
Analysis/SV/annotated_by_pop.vcfs
Analysis/SV/WGSDP_Releasable_4.1_202405/
Analysis/SV/20241104_WGSPD_Xuefang/
Analysis/SV/test.bed
Analysis/QC/old-figures
Analysis/SV/test/
~*
